/* Styles reset */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}


.wrapper {
	margin: 0 auto;
	width: 1150px;
}

.wrapper::after {
	content: "";
	clear: both;
	width: 100%;
	display: table;
}

.header {
	position: relative;
	padding-top: 31px; /* TODO: fix this after finishing top-header */
}

.advertisement-block {
	padding: 10px 0;
	background: #d9e1e6;
	font-size: 10px;
	color: #868f93;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.close-button {
	font-size: 0;
	width: 9px;
	height: 9px;
	background: url(images/close.png) no-repeat;
	display: inline-block;
	float: right;
}

.top-header {
	padding: 28px 0;
}

.currency-selector-wrapper,
.logo {
	line-height: 46px;
}

.currency-selector-wrapper {
	float: left;
}

.logo {
	width: 133px;
	margin: 0 auto;
}

.logo img {
	vertical-align: middle;
}


.cart-wrapper {
	float: right;
	border: 2px solid #ded3aa;
}

.cart-wrapper a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 40px;
	display: block;
	font-size: 11px;
}

.bottom-header {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
}

.navigation {
	font-size: 0;
	width: 80%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.navigation > li {
	margin-left: 5%;
	font-size: 11px;
	display: inline-block;
	line-height: 28px;
}

.navigation > li:first-child {
	margin-left: 0;
}

.navigation > li a {
	text-decoration: none;
	text-transform: uppercase;
}

.has-submenu {
	position: relative;
}

.sub-navigation {
	display: none;
	position: absolute;
	top: 100%;
	left: -15px;
	background: #ffffff;
	padding: 15px;
	line-height: 12px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.sub-navigation li {
	text-align: left;
}

.sub-navigation li+li {
	margin-top: 10px;
}

.navigation > li:hover .sub-navigation {
	display: block;
}

.has-submenu > a {
	display: inline-block;
	background: url(images/arrow-down.png) right 11px no-repeat;
	padding-right: 16px;
}

.utility-menu {
	float: right;
	font-size: 0;
}

.utility-menu li {
	display: inline-block;
}

.utility-menu li+li {
	border-left: 1px dotted #999999;
}

.utility-menu-wishlist,
.utility-menu-search {
	background-image: url(images/sprite-utility-menu.png);
	background-repeat: no-repeat;
	display: inline-block;
	padding: 14px 22px;
}

.utility-menu-wishlist {
	background-position: 14px center;
}

.utility-menu-search {
	background-position: -34px center;
}